#!/usr/bin/python

import consul
import sys
from urlparse import urlparse

consul_host = "{{ .Env.CONSUL_HOST }}"
if not consul_host:
    print "CONSUL_HOST not set"
    sys.exit(1)
    
consul_dir = "{{ .Env.CONSUL_DIR }}"
if not consul_dir:
    print "CONSUL_DIR not set"
    sys.exit(1)

port = 8500
host = consul_host
ttl=15

if ":" in consul_host:
    host, port = consul_host.split(":")

client = consul.Consul(host=host, port=int(port))

index,data=client.kv.get('{{ .Env.CONSUL_DIR }}/')
if data==None :
	client.kv.put('{{ .Env.CONSUL_DIR }}/',None)

{{ $local := . }}
{{range $key, $value := .}}
{{ $addrLen := len $value.Addresses }}
  {{ if eq $addrLen 1 }}
    {{ with $address := index $value.Addresses 0 }}
      {{ if $local.Env.CONTAINER_LABELNAME }}
        {{range $key2, $value2 := $value.Labels}}
          {{ if eq $key2 $local.Env.CONTAINER_LABELNAME }}
            {{ if eq $value2 $local.Env.CONTAINER_LABELVALUE }}

index,data=client.kv.get(consul_dir+"/{{ $value.Image.Repository}}/{{printf "%.*s" 12 $value.ID}}")
if data==None :
	session_id=client.session.create(ttl=int(ttl),behavior='delete')
	client.kv.put(consul_dir+"/{{ $value.Image.Repository}}/{{printf "%.*s" 12 $value.ID}}", "{{ $value.Name }}:{{ $address.Port }}",acquire=session_id)
else :
	client.session.renew(data['Session'])
            {{ end }}
          {{ end }}
        {{ end }}
      {{ else }}
index,data=client.kv.get(consul_dir+"/{{ $value.Image.Repository}}/{{printf "%.*s" 12 $value.ID}}")
if data==None :
  session_id=client.session.create(ttl=int(ttl),behavior='delete')
  client.kv.put(consul_dir+"/{{ $value.Image.Repository}}/{{printf "%.*s" 12 $value.ID}}", "{{ $value.Name }}:{{ $address.Port }}",acquire=session_id)
else :
  client.session.renew(data['Session'])
      {{ end }}
    {{ end }}
  {{ end }}
{{ end }}
